@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-submit {
      @apply mt-4 mr-4 w-full inline-flex justify-center rounded-md border border-transparent 
        shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-0 
        sm:w-auto sm:text-sm
    }

    .btn-cancel {
      @apply mt-4 w-full inline-flex justify-center rounded-md border border-gray-300 
      shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 hover:bg-red-100
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 
      sm:w-auto sm:text-sm;
    }
}
