@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1 {
    @apply w-full inline-flex justify-center text-xl px-4 py-2 sm:w-auto sm:text-sm;
  }
}



@layer components {
    .btn-action {
      @apply w-full inline-flex justify-center rounded-md border border-transparent 
        shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900
        sm:w-auto sm:text-sm
    }

    .btn-cancel {
      @apply w-full inline-flex justify-center rounded-md border border-gray-300 
      shadow-sm px-3 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 hover:bg-gray-100
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 
      sm:w-auto sm:text-sm;
    }

    .btn-delete {
      @apply w-full inline-flex justify-center rounded-md border border-transparent
      shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:text-white hover:bg-red-700
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 
      sm:w-auto sm:text-sm;
    }

    .btn-table-page-select {
      @apply relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md 
      text-gray-700 bg-white hover:bg-gray-50
    }

    .modal-title {
      @apply w-full inline-flex justify-center text-3xl 
      font-bold text-gray-900 sm:w-auto;
    }

    .modal-body dd {
      word-wrap: break-word;
    }

    .btn-resize {
      @apply space-y-4 sm:flex sm:justify-end sm:space-x-4 sm:space-y-0;
    }

    /* .table-header {
      @apply table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
    }

    .tbl-row {
      @apply table-cell px-6 py-4 whitespace-nowrap text-sm
    } */
}
